
.selector-wrapper {
    position: sticky;
    background-color: #F3F4F5;
    width: 100%;
    padding-bottom: 8px;
    top: 0
}

select {
    height: 36px;
    border-radius: 2px;
    padding: 10px;
    background-color: #29CC97;
    color: white;
    border: none;
}



