* {
  box-sizing: border-box;
  /* height: 100%; */
}

.App {
  background-color: #F3F4F5;
  /* height: 100%; */
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.sidebar-wrapper {
  background-color: #363740;
  color: white;
  padding: 24px 32px 24px 32px; 
  width: 255px;
  height: 100%;
}

.main-wrapper {
  background-color: #F3F4F5;
  width: 100%;
  height: auto;
}

.TopNav-wrapper {
  padding: 12px 32px 12px 32px; 
  height: 48px;
  grid-area: tracker;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0px 1px 0px #E1E2E8;
}

.cards-wrapper {
  grid-area: cards; 
  display: grid;
  grid-template-columns: 1ft 1ft;
  grid-template-areas: 'meals workout';
  margin-left: 30px;
}

.meals-wrapper {
  grid-area: meals; 
  /* background-color: white; */
  margin-right: 8px;
  overflow: scroll;
  height: 100%;
}

.workout-wrapper {
  grid-area: workout;
  background-color: white;
  overflow: scroll;
  margin-right: 40px;
}

